#gameCanvas
{
    border: 1px solid black;

    z-index: -1;
}
#gameSection
{
    width: 42%;
    height: 580px;
    display: inline-block;
    margin: 8% 28%;
    box-shadow: 0 0 10px 25px;
}
body
{
    background-color: #d4d4d9;
}
.noDraw
{
    display: none;
}