#gameCanvas
{
    box-shadow: 0 0 10px 25px;
    z-index: -1;
}
#gameSection
{
    width: 42%;
    height: 580px;
    display: inline-block;
    margin: 6% 23%;
}
body
{
    background-color: #d4d4d9;
}
.noDraw
{
    display: none;
}
#phpIncludeSection
{
    position: absolute;
    top: 70px;
    left: 285px;
    width: 900px;
    height: 700px;
    border: 1px solid black;
    background-color: white;
    display: none;
}